# Configuration Base de données
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tarmast_db
DB_USER=root
DB_PASS=secret

# Configuration SMTP / Email
SMTP_ENABLED=true
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=votre_utilisateur
SMTP_PASS=votre_mot_de_passe
SMTP_ENCRYPTION=tls
SMTP_FROM_EMAIL=no-reply@tarmast.ma
SMTP_FROM_NAME="Ferme Tarmast"
